---
import { baseStyles } from "../../../styles/styles";
import SectionTitle from "../../../components/section-title.astro";
import SectionBlock from "../top-page/section-block.astro";
import Slider from "./slider.astro";
import { Image } from "astro:assets";
import { articles } from "../report-data/articles.ts"; 
const latestArticles = articles.slice(0, 3);
---

<SectionBlock bg={baseStyles.colors.base}>

<div class="contents">
    <h3>Work Lounge <span>今月のイベント!!</span>
    </h3>
    <div class="slider-box">
      <Slider />
    </div>
    <SectionTitle title="イベントレポート"></SectionTitle>
  <div class="card-group">
     {latestArticles.map((article) => (
        <a href={`/articles/${article.slug}`} class="card-link">
          <div class="card-content">
            <Image src={article.banner} alt="イベントバナー" />
            <div class="text-area">
              <div class="date">{article.date}</div>
              <div class="article-title">{article.title}</div>
            </div>
          </div>
        </a>
      ))}
  </div>
</div>

</SectionBlock>

<style
  define:vars={{
    primary: baseStyles.colors.primary,
    accent: baseStyles.colors.accent,
    accentLine: baseStyles.colors.accentLine,
    base: baseStyles.colors.base,
    white: baseStyles.colors.white,
    black:  baseStyles.colors.black,
    xxLarge: baseStyles.fontSize.xxLarge,
    large: baseStyles.fontSize.large,
    small: baseStyles.fontSize.small,
    xSmall: baseStyles.fontSize.xSmall,
  }}
>
  .contents {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--primary);
    text-align: center;
  }

  h3 {
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: var(--xxLarge);
  }

  h3 span {
    background: linear-gradient(transparent 60%, var(--accentLine) 40%);
  }
  
  .card-group{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  a{
    text-decoration: none;
  }

  .card-content{
    border: 4px solid var(--primary);
    width: 300px;
    padding: 5px;
    height: auto;
    border-radius: 6px;
    display: inline-block;
    background-color: var(--white);
     &:hover{
    cursor: pointer;
    box-shadow: 0 0 14px -1px var(--primary);
    transition: 0.2s;
    }
  }

  img{
    width: 100%;
    height: auto;
  }

  .text-area{
    text-align: left;
    color: var(--black);
    margin: 10px 0 5px;
  }

  .date{
    font-size: var(--xSmall);
    margin-left: 10px;
  }

  .article-title{
    font-size: var(--small);
    font-weight: 700;
    padding: 5px 10px 10px;
  }

  @media screen and (max-width: 1000px) {
    .card-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 660px;
    margin: 30px auto;
  }
  }

  @media screen and (max-width: 680px) {
    .card-group{
    grid-template-columns: 1fr;
  }
  }


  @media screen and (max-width: 800px) {
    .slider-box{
      padding: 0 10px;
    }
    h3 {
      font-size: var(--large);
      margin-top: 10px;
    }
  }

</style>
