---
import BaseLayout from "../../layouts/base-layout.astro";
import { baseStyles } from "../../styles/styles";
import { Image } from "astro:assets";

import { articles } from "../../pages/_components/report-data/articles.ts";

export function getStaticPaths() {
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;

const pageTitle = "イベントレポート";
const description = article.description;
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <div class="article-container">
    <div class="article">
      <div class="title-area">
        <div class="date">{article.date}</div>
        <h3>{article.title}</h3>
      </div>

      <div class="banner-area">
        <Image src={article.banner} alt="イベントバナー" />
      </div>

      {article.sections.map((s) => (
        <>
          <h4>{s.heading}</h4>
          <div class="article-content" set:html={s.bodyHtml} />
        </>
      ))}
    </div>
  </div>
</BaseLayout>

<style
  define:vars={{
    primary: baseStyles.colors.primary,
    accent: baseStyles.colors.accent,
    accentLine: baseStyles.colors.accentLine,
    white: baseStyles.colors.white,
    black: baseStyles.colors.black,
    gray: baseStyles.colors.gray,
    base: baseStyles.colors.base,
    xSmall: baseStyles.fontSize.xSmall,
    small: baseStyles.fontSize.small,
    medium: baseStyles.fontSize.medium,
    large: baseStyles.fontSize.large,
    xLarge: baseStyles.fontSize.xLarge,
    xxLarge: baseStyles.fontSize.xxLarge,
  }}
>
.article-container{
  max-width: 900px;
  margin: 120px auto;
  padding: 0 20px;
}

.date{
  font-size: var(--xSmall);
  color: var(--black);
}

h3 {
  position: relative;
  font-size: var(--xLarge);
  border-bottom: 3px solid var(--base);
  color: var(--primary);
  margin-top: 0;
}

h3::before {
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 30%;
  height: 3px;
  content: "";
  background: var(--primary);
}

img{
  width: 100%;
  height: auto;
}

h4 {
  padding: 10px;
  margin: 56px 0 20px;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--primary);
  background-color: var(--base);
  border-left: solid 8px var(--primary);
}

.article-content{
  font-size: var(--small);
}

@media screen and (max-width: 600px) {
  h3{
    font-size: var(--large);
    padding-bottom: 10px;
  }
  .article-container{
    margin-top: 80px;
  }
  h4{
    margin-top: 30px;
    font-size: var(--medium);
  }
}
</style>
