---
import { baseStyles } from "../../../styles/styles.ts";
import {
  planInfo,
  seatAccessList,
  foodAndDrinkServicesList,
  workspaceAmenitiesList,
  equipmentRentalList,

} from "./plan.ts";

const getClassName = (label: string) => {
  if (label === "Premium") {
    return "pricing-card enterprise";
  }

  if (label === "Executive") {
    return "pricing-card premium";
  }

  return "pricing-card";
};
---

<div class="title"><span>プラン詳細</span></div>
<div class="plan-name-wrapper">
  {planInfo.map(plan => <div class="plan-name">{plan.label}</div>)}
</div>
<div class="plan-details-wrapper">
  <div class="list-title">座席・スペース利用</div>
  <ul>
    {
      seatAccessList.map(basicFunction => (
        <li class="list-item">
          <div class="name">
            <span class="bold">{basicFunction.label}</span>
          </div>
          <div class="capability-box">
            {planInfo.map(plan => (
              <div class={`mark ${plan[basicFunction.id] ? "ok" : "ng"}`}>
                <span />
              </div>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
  <div class="list-title">ドリンク・フードサービス</div>
  <ul>
    {
      foodAndDrinkServicesList.map(usefulFunction => (
        <li class="list-item">
          <div class="name">
            <span class="bold">{usefulFunction.label}</span>
          </div>
          <div class="capability-box">
            {planInfo.map(plan => (
              <div class={`mark ${plan[usefulFunction.id] ? "ok" : "ng"}`}>
                <span />
              </div>
            ))}
          </div>
        </li>
      ))
    }
  </ul>

  <div class="list-title">設備・仕事向けサービス</div>
  <ul>
    {
      workspaceAmenitiesList.map(involvementFunction => (
        <li class="list-item">
          <div class="name">
            <span class="bold">{involvementFunction.label}</span>
          </div>
          <div class="capability-box">
            {planInfo.map(plan => (
              <div class={`mark ${plan[involvementFunction.id] ? "ok" : "ng"}`}>
                <span />
              </div>
            ))}
          </div>
        </li>
      ))
    }
  </ul>

  <div class="list-title">貸し出し物・備品</div>
  <ul class="set-special-height">
    {
      equipmentRentalList.map(accurateAndFreshFunction => (
        <li class="list-item">
          <div class="name">
            <span class="bold">{accurateAndFreshFunction.label}</span>
          </div>
          <div class="capability-box">
            {planInfo.map(plan => (
              <div class={`mark ${plan[accurateAndFreshFunction.id] ? "ok" : "ng"}`}>
                <span />
              </div>
            ))}
          </div>
        </li>
      ))
    }
  </ul>

  

  <style
    define:vars={{
      primary: baseStyles.colors.primary,
      accent: baseStyles.colors.accent,
      base: baseStyles.colors.base,
      gray: baseStyles.colors.gray,
      black: baseStyles.colors.black,
      xSmall: baseStyles.fontSize.xSmall,
      medium: baseStyles.fontSize.medium,
      large: baseStyles.fontSize.large,
    }}
  >
    .title {
      font-size: var(--medium);
      font-weight: 700;
      color: var(--primary);
      text-align: center;
    }

    .title span {
      position: relative;
    }

    .title span::before {
      position: absolute;
      top: 1px;
      left: -42px;
      width: 28px;
      height: 24px;
      content: "";
      background-size: cover;
    }

    .title span::after {
      position: absolute;
      top: 1px;
      right: -42px;
      width: 28px;
      height: 24px;
      content: "";
      background-size: cover;
      transform: scale(-1, 1);
    }

    .plan-name-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 97%;
      margin: 20px auto 10px;
      font-size: var(--xSmall);
      color: var(--primary);
    }

    .plan-name {
      padding-bottom: 5px;
      margin: 3px;
      font-weight: 700;
      text-align: center;
      border-bottom: 8px solid var(--primary);
    }

    .plan-details-wrapper {
      width: 95%;
      margin: 0 auto;
      font-size: var(--xSmall);
      color: var(--black);
    }

    .name {
      padding-bottom: 10px;
    }

    .name .bold {
      font-weight: 700;
    }

    .list-title {
      padding: 10px 0;
      font-weight: 700;
      text-align: center;
      background-color: var(--base);
    }

    .list-item {
      padding: 10px 0;
      margin: 0 10px;
      border-bottom: 2px dashed #efefef;
    }

    .list-item:last-child {
      border-bottom: none;
    }

    .capability-box {
      display: flex;
      justify-content: space-between;
    }

    .mark {
      position: relative;
      display: block;
      width: 100px;
      height: 30px;
      margin: 0 auto;
      text-align: center;
    }

    .mark.ok::after {
      position: absolute;
      font-size: var(--large);
      content: "〇";
      background-position: top center;
    }

    .mark.ng {
      position: relative;
    }

    .mark.ng::after {
      position: absolute;
      font-size: var(--large);
      font-weight: 700;
      color: var(--black);
      content: "ー";
      background-position: top center;
    }

    .premium .mark.annotation::before,
    .enterprise .mark.annotation::before {
      position: absolute;
      font-size: var(--large);
      content: "〇";
      background-position: top center;
    }

    .premium .mark.annotation::after,
    .enterprise .mark.annotation::after {
      position: absolute;
      bottom: -20px;
      left: 30%;
      width: 60px;
      font-size: 1.2rem;
      content: "（すべて）";
      background-position: center;
    }

    .pricing-card {
      position: relative;
      display: block;
      width: 100px;
      height: 30px;
      margin: 0 auto;
      text-align: center;
    }
    .set-special-height{
      margin-bottom: 60px;
    }
  </style>
</div>
