---
import { baseStyles } from "../../../styles/styles.ts";
import {
  planInfo,
  seatAccessList,
  foodAndDrinkServicesList,
  workspaceAmenitiesList,
  equipmentRentalList,
} from "./plan.ts";

const { plan } = Astro.props;

export interface Props {
  plan: (typeof planInfo)[0];
}

const getClassName = (label: string) => {
  if (label === "Premium") {
    return "pricing-card enterprise";
  }

  if (label === "Executive") {
    return "pricing-card premium";
  }

  return "pricing-card";
};


---

<div class={getClassName(plan.label)}>
  <div class="card-header">
    <p class="plan-name">{plan.label}</p>
    <p class="price">{plan.price}</p>
  </div>
  <div class="card-body">
    <ul class="function-list">
      <li class="list-title">座席・スペース利用</li>
      {
        seatAccessList.map(basicFunction => (
          <li class={`list-item ${!plan[basicFunction.id] && "ng"}`}>
            <div class="name">
              {basicFunction.label}
            </div>
            <div class="capability">
              <span class={`mark ${plan[basicFunction.id] ? "ok" : "ng"}`} />
            </div>
          </li>
        ))
      }
    </ul>
    <ul class="function-list">
      <li class="list-title">ドリンク・フードサービス</li>
      {
        foodAndDrinkServicesList.map(usefulFunction => (
          <li class={`list-item ${!plan[usefulFunction.id] && "ng"}`}>
            <div class="name">
              {usefulFunction.label}
              
            </div>
            <div class="capability">
              <span class={`mark ${plan[usefulFunction.id] ? "ok" : "ng"}`} />
            </div>
          </li>
        ))
      }
    </ul>

    <ul class="function-list">
      <li class="list-title">設備・仕事向けサービス</li>
      {
        workspaceAmenitiesList.map(involvementFunction => (
          <li class={`list-item ${!plan[involvementFunction.id] && "ng"}`}>
            <div class="name">
              {involvementFunction.label}
              
            </div>
            <div class="capability">
              <span class={`mark ${plan[involvementFunction.id] ? "ok" : "ng"}`} />
            </div>
          </li>
        ))
      }
    </ul>

    <ul class="function-list">
      <li class="list-title">貸し出し物・備品</li>
      {
        equipmentRentalList.map(accurateAndFreshFunction => (
          <li class={`list-item ${!plan[accurateAndFreshFunction.id] && "ng"}`}>
            <div class="name">
              {accurateAndFreshFunction.label}
              
            </div>
            <div class="capability">
              <span class={`mark ${plan[accurateAndFreshFunction.id] ? "ok" : "ng"}`} />
            </div>
          </li>
        ))
      }
    </ul>
    
  </div>
</div>

<style
  define:vars={{
    primary: baseStyles.colors.primary,
    accent: baseStyles.colors.accent,
    accentLine: baseStyles.colors.accentLine,
    white: baseStyles.colors.white,
    gray: baseStyles.colors.gray,
    darkGray: baseStyles.colors.darkGray,
    black: baseStyles.colors.black,
    base: baseStyles.colors.base,
    xSmall: baseStyles.fontSize.xSmall,
    small: baseStyles.fontSize.small,
    medium: baseStyles.fontSize.medium,
    large: baseStyles.fontSize.large,
    xLarge: baseStyles.fontSize.xLarge,
    xxLarge: baseStyles.fontSize.xxLarge,
  }}
>
  .pricing-card {
    width: 360px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgb(202 202 202 / 50%);
  }

  .card-header {
    padding: 20px 0;
    color: var(--white);
    text-align: center;
    background: var(--primary);
    border: 10px solid var(--base);
    border-radius: 15px 15px 0 0;
  }

  .enterprise .card-header {
    background-color: var(--primary);
  }

  .premium .card-header {
    color: var(--white);
    background-color: var(--primary);
  }

  .card-header .plan-name {
    margin: 10px 0;
    font-size: var(--xLarge);
    font-weight: 700;
  }

  .price{
    margin: 10px 0;
    font-weight: 700;
    font-size: var(--large);
  }

  .card-header span {
    position: relative;
    font-size: var(--small);
  }

  .card-header span::after {
    position: absolute;
    top: -4px;
    left: 27px;
    width: 34px;
    content: "※1";
  }

  .card-body {
    margin-top: -10px;
    font-size: var(--xSmall);
    border: 2px solid var(--base);
    border-radius: 0 0 15px 15px;
  }

  .card-body ul {
    padding: 0;
    list-style-type: none;
  }

  .list-title {
    padding: 10px 0;
    font-weight: 700;
    text-align: center;
    background-color: var(--base);
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    margin: 0;
    border-bottom: 2px dashed #efefef;
  }

  .list-item:last-child {
    border-bottom: none;
  }

  .list-item.ng .name {
    color: var(--darkGray);
  }

  .function-list {
    margin: 0;
  }

  .function-list li:last-child {
    margin-bottom: 3px;
  }

  .mark {
    display: block;
    color: var(--primary);
  }

  .mark.ok {
    position: relative;
  }

  .mark.ok::after {
    position: absolute;
    top: -4px;
    left: -16px;
    font-size: var(--large);
    content: "〇";
  }

  .premium .mark.annotation::before,
  .enterprise .mark.annotation::before {
    position: absolute;
    top: -4px;
    left: -16px;
    font-size: var(--large);
    content: "〇";
  }

  .mark.ng {
    position: relative;
  }

  .mark.ng::after {
    position: absolute;
    top: -4px;
    right: -4px;
    font-size: var(--large);
    color: var(--darkGray);
    content: "ー";
  }


  @media screen and (max-width: 1170px) {
    .pricing-card {
      width: 75%;
      margin: 0 auto;
    }
    .card-body {
      display: none;
    }
    .card-header{
      border-radius: 15px;
    }
  }

  @media screen and (max-width: 480px) {
    .pricing-card {
      width: 90%;
      margin: 0 auto;
    }
    .card-header {
      padding-top: 20px;
    }
    .card-header .plan-name {
      font-size: var(--large);
    }

    .premium .card-header {
      padding-top: 40px;
    }
    .premium .card-header::after {
      position: absolute;
      top: -16px;
      right: 24%;
      display: inline-block;
      width: 53%;
      height: 52px;
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(0deg);
    }
  }
</style>
